@import "tailwindcss";

*{
   scrollbar-width:none;  /* firefox */
   -ms-overflow-style: none;/* IE/Edge old versions*/
}

::-webkit-scrollbar,
::-webkit-scrollbar{
    display: none;/* Chrome, Safari, Opera*/
}


@keyframes pop {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.5s ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}
